.navbar {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar li {
  margin-right: 10px; /* Adjust the spacing between the navigation links */
}

.navbar li:last-child {
  margin-right: 50%; /* Remove margin from the last navigation link */
}

.navbar a {
  text-decoration: none;
}
